/*  Sign Up CSS  */
html {
  background-color: #444444;
  height: 100vh;

}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: orange;
}
.main {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}
.info-title{
  width: 50%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info form{
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 2em;
  z-index: 100;
  border-radius: 9%;
}
form a img{
  width: 6em;
}
input, button {
  font-size: 100%;
  width: 100%;
  padding: 0;
  
  margin: 0.1em auto;
}
input[type=text],
input[type=password] {
    box-sizing : border-box;
}

.fullname {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.first-name, .last-name {
  width: 49.5%;
}
@media (min-width:0px){
  html{font-size:8px;}}
@media (min-width:320px){
  html{font-size:8px;}}
@media (min-width:481px){
  html{font-size:10px;}}
@media (min-width:641px){
  html{font-size:12px;}}
@media (min-width:970px){
  html{font-size:14px;}}
@media (min-width:1162px){
  html{font-size:16px;}}
@media (min-width:1281px){
  html{font-size:18px;}}
